
<suite name="Suite">
  <test name="Test">
    <classes>
    	<!-- <class name="scripts.SignIn"/>
      <class name="scripts.VerifyHamburgerMenu"/>
      <class name="scripts.ListBuilderSearch"/>
      <class name="scripts.MyCartDropDown"/>
      
      <class name="scripts.SiteSearch"/> -->
      
      <class name="scripts.VerifyHamburgerMenu"/>
      <class name="scripts.SignIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
